<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<center>
    <h1>Register</h1>
    <p>
        <a th:href="@{/account}">
            Back to main page
        </a>
    </p>
</center>

<div class="container" id="account">
    <form  th:action="@{/account/save}" method="post" th:object="${accountDto} ">
        <div class="mb-3">
        </div>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text"  class="form-control" th:field="*{firstName}"/>
        <p style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
        <div class="mb-3">
            <label class="form-label">Last name</label>
            <input type="text"  class="form-control" th:field="*{lastName}"/>
            <p style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Age </label>
                <input type="text" class="form-control" th:field="*{age}"/>
            <p style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>


        </div>
        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <input type="number" class="form-control" th:field="*{phoneNumber}"/>
            <p style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>

        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}"/>
            <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        </div>
    <center>
        <input type="submit" class="btn btn-outline-primary" value="Create">
    </center>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>