<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head ></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <div>
<!--            <label>Id</label>-->
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}" />
            <p style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>
        <div>
            <label>Moment</label>
            <input type="text" th:field="*{moment}" />
            <p style="color:red" th:if="${#fields.hasErrors('moment')}" th:errors="*{moment}"></p>
        </div>
        <div>
            <label>Detail</label>
            <input type="text" th:field="*{detail}"/>
            <p style="color:red" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></p>
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}" />
            <p style="color:red" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></p>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer></footer>
</body>
</html>