<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../bootstrap-5.0.2-dist/css/bootstrap.css">
    <script th:src="@{/jquery_321/jquery-3.2.1.js}"></script>
    <style>
        body{
            background-image: url("/img/error403.jpg");
            background-repeat: repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<a class="navbar-brand btn btn-outline-primary " th:href="@{/}"><button> Back to Main Page</button>

</a>
</body>
<script type="text/javascript" src="../../bootstrap-5.0.2-dist/js/bootstrap.js"></script>

</html>