<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../bootstrap-5.0.2-dist/css/bootstrap.css">
    <script th:src="@{/jquery_321/jquery-3.2.1.js}"></script>
</head>
<body>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Facility</th>
        <th scope="col">CustomerList</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Deposit</th>
        <th scope="col">Total</th>
        <th scope="col" colspan="2">Accompanying Services</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
<script type="text/javascript" src="../../bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</html>