<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/question}">
        Back to question list
    </a>
</p>
<div id="form">
    <form th:action="@{/question/delete}" th:object="${question}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{questionId}"/>
        <div>
            <label>title</label>
            <input type="text" th:field="*{title}"/>
            <!--            <span th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></span>-->
        </div>
        <div>
            <label>question</label>
            <input type="hidden" th:field="*{question}"/>
            <!--            <span th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></span>-->
        </div>
        <div>
            <label>question type</label>
            <select class="form-control" th:field="*{questionType}">
                <option th:each="item:${questionTypeList}" th:text="${item.name}"
                        th:value="${item.questionTypeId}"></option>
            </select>
        </div>
        <div>
            <input type="hidden" th:field="*{answer}"/>
            <!--            <span th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></span>-->
        </div>
        <div>
            <label>dateCreate</label>
            <input type="text" th:field="*{dateCreate}"/>
            <!--            <span th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></span>-->
        </div>
        <div>
            <label>status</label>
            <input type="text" th:field="*{status}"/>
            <!--            <span th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"></span>-->
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>